<ion-header>
  <ion-toolbar>
    <ion-title>Decline User</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="sendDeclineEmail()">
    <ion-item>
      <ion-label>Email</ion-label>
      <ion-input [(ngModel)]="email" name="email" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Decline Reasons</ion-label>
      <ion-checkbox *ngFor="let reason of declineReasons" [(ngModel)]="reason.selected" [value]="reason.reason">
        {{ reason.reason }}
      </ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-label>Other Reason</ion-label>
      <ion-textarea [(ngModel)]="otherReason" name="otherReason"></ion-textarea>
    </ion-item>

    <ion-footer>
      <ion-button expand="full" type="submit">Send Email</ion-button>
      <ion-button expand="full" color="light" (click)="cancel()">Cancel</ion-button>
    </ion-footer>
  </form>
</ion-content>
