<ion-header>
  <ion-toolbar>
    <ion-title>
      Pharmacy Page
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="medForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label>Name</ion-label>
      <ion-input formControlName="name" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Type</ion-label>
      <ion-input formControlName="type" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Description</ion-label>
      <ion-textarea formControlName="description"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label>Price</ion-label>
      <ion-input formControlName="price" type="number"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Prescription Required</ion-label>
      <ion-checkbox formControlName="prescriptionRequired"></ion-checkbox>
    </ion-item>

    <input type="file" (change)="onFileSelected($event)" accept="image/*">
    
    <ion-button expand="block" type="submit">Submit</ion-button>
  </form>
</ion-content>
