<ion-header>
  <ion-toolbar>
    <ion-title>
      Pharmacy Page
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-segment (ionChange)="segmentChanged($event)">
    <ion-segment-button value="form" checked>
      <ion-label>Form</ion-label>
    </ion-segment-button>
    <ion-segment-button value="table">
      <ion-label>Medications</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="segment">
    <div *ngSwitchCase="'form'">
      <form [formGroup]="medForm" (ngSubmit)="onSubmit()">
        <ion-item>
          <ion-label>Name</ion-label>
          <ion-input formControlName="name" type="text"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Type</ion-label>
          <ion-input formControlName="type" type="text"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Description</ion-label>
          <ion-textarea formControlName="description"></ion-textarea>
        </ion-item>

        <ion-item>
          <ion-label>Price</ion-label>
          <ion-input formControlName="price" type="number"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Prescription Required</ion-label>
          <ion-checkbox formControlName="prescriptionRequired"></ion-checkbox>
        </ion-item>

        <ion-item>
          <ion-label>Size</ion-label>
          <ion-input formControlName="size" type="text"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Discount (%)</ion-label>
          <ion-input formControlName="discount" type="number"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Quantity</ion-label>
          <ion-input formControlName="quantity" type="number"></ion-input>
        </ion-item>

        <input type="file" (change)="onFileSelected($event)" accept="image/*">

        <ion-button expand="block" type="submit">Submit</ion-button>
      </form>
    </div>

    <div *ngSwitchCase="'table'" class="ion-margin-top">
      <ion-list lines="full">
        <ion-item *ngFor="let med of medications$ | async">
          <ion-thumbnail slot="start">
            <ion-img [src]="med.imageUrl" [alt]="med.name" loading="lazy"></ion-img>
          </ion-thumbnail>
          <ion-label>
            <h2>{{ med.name }}</h2>
            <p>Type: {{ med.type }}</p>
            <p>Price: {{ med.price }}</p>
            <p>Quantity: {{ med.quantity }}</p>
          </ion-label>
          <ion-buttons slot="end">
            <ion-button (click)="editMedication(med)">
              <ion-icon name="create-outline"></ion-icon>
            </ion-button>
            <ion-button (click)="deleteMedication(med)">
              <ion-icon name="trash-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>
