<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button id="backButton" (click)="closeMenu($event)" routerLink="/home">Back</ion-button>
    </ion-buttons>
    <ion-title>Sign Up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="Register()">
    <ion-list>

      <ion-item>
        <ion-label>Select Role</ion-label>
        <ion-select [(ngModel)]="selectedRole" name="role" (ionChange)="onRoleChange()" required>
          <ion-select-option value=""> -- Select a Role -- </ion-select-option>
          <ion-select-option value="Customer">Customer</ion-select-option>
          <ion-select-option value="Pharmacy">Pharmacy</ion-select-option>
          <ion-select-option value="Driver">Driver</ion-select-option>
          <ion-select-option value="Dispatcher">Dispatcher</ion-select-option>
        </ion-select>
      </ion-item>
      
      <!-- Customer specific fields --> 
      <ng-container *ngIf="selectedRole === 'Customer'">
        <ion-item>
          <ion-label position="floating">First Name:</ion-label>
          <ion-input type="text" [(ngModel)]="firstname" name="firstname" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Last Name:</ion-label>
          <ion-input type="text" [(ngModel)]="lastname" name="lastname" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">ID Number:</ion-label>
          <ion-input type="text" [(ngModel)]="idnumber" name="idnumber" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Email Address:</ion-label>
          <ion-input type="email" [(ngModel)]="email" name="email" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Phone Number:</ion-label>
          <ion-input type="text" [(ngModel)]="phone" name="phone" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Password:</ion-label>
          <ion-input type="password" [(ngModel)]="password" name="password" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Confirm Password:</ion-label>
          <ion-input type="password" [(ngModel)]="confirm_password" name="confirm_password" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Upload ID Document:</ion-label>
          <ion-input type="file" (change)="onFileSelected($event, 'customeriddocucment')" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Upload Proof of Address Document:</ion-label>
          <ion-input type="file" (change)="onFileSelected($event, 'proofofaddress')" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Upload Bank Statement Document:</ion-label>
          <ion-input type="file" (change)="onFileSelected($event, 'bankingdetails')" required></ion-input>
        </ion-item>
      </ng-container>

      <!-- Driver specific fields -->
      <ng-container *ngIf="selectedRole === 'Driver'">
  <ion-item>
    <ion-label position="floating">First Name:</ion-label>
    <ion-input type="text" [(ngModel)]="firstname" name="firstname" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Last Name:</ion-label>
    <ion-input type="text" [(ngModel)]="lastname" name="lastname" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">ID Number:</ion-label>
    <ion-input type="text" [(ngModel)]="idnumber" name="idnumber" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Email Address:</ion-label>
    <ion-input type="email" [(ngModel)]="email" name="email" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Phone Number:</ion-label>
    <ion-input type="text" [(ngModel)]="phone" name="phone" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Password:</ion-label>
    <ion-input type="password" [(ngModel)]="password" name="password" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Confirm Password:</ion-label>
    <ion-input type="password" [(ngModel)]="confirm_password" name="confirm_password" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Upload Vehicle Document:</ion-label>
    <ion-input type="file" (change)="onFileSelected($event, 'vehicle')" required ></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label position="floating">Upload Driver's ID Document:</ion-label>
    <ion-input type="file" (change)="onFileSelected($event, 'iddocumentDriver')" required ></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label position="floating">Upload Driver's License Document:</ion-label>
    <ion-input type="file" (change)="onFileSelected($event, 'license')" required ></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label position="floating">Upload Vehicle Insurance Document:</ion-label>
    <ion-input type="file" (change)="onFileSelected($event, 'driverinsurance')" required ></ion-input>
  </ion-item>

  <!-- <ion-input type="file" (change)="onFileSelected($event, 'bankingdetails')" required></ion-input> -->

  <ion-item>
    <ion-label position="floating">Upload PDP Document:</ion-label>
    <ion-input type="file" (change)="onFileSelected($event, 'pdp')" required ></ion-input>
  </ion-item>
  
      </ng-container>


      <!-- Pharmacy specific fields -->
      <ng-container *ngIf="selectedRole === 'Pharmacy'">
        <ion-item>
          <ion-label position="floating">First Name:</ion-label>
          <ion-input type="text" [(ngModel)]="firstname" name="firstname" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Last Name:</ion-label>
          <ion-input type="text" [(ngModel)]="lastname" name="lastname" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">ID Number:</ion-label>
          <ion-input type="text" [(ngModel)]="idnumber" name="idnumber" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Email Address:</ion-label>
          <ion-input type="email" [(ngModel)]="email" name="email" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Phone Number:</ion-label>
          <ion-input type="text" [(ngModel)]="phone" name="phone" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Password:</ion-label>
          <ion-input type="password" [(ngModel)]="password" name="password" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Confirm Password:</ion-label>
          <ion-input type="password" [(ngModel)]="confirm_password" name="confirm_password" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Upload Pharmacy Insurance Document:</ion-label>
          <ion-input type="file" (change)="onFileSelected($event, 'pharmacyinsurance')" required></ion-input>
        </ion-item>

  <!-- <ion-input type="file" (change)="onFileSelected($event, 'bankingdetails')" required></ion-input> -->


        <ion-item>
          <ion-label position="floating">Upload Registration Document:</ion-label>
          <ion-input type="file" (change)="onFileSelected($event, 'registration')" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Upload Pharmacy Approval Certificate:</ion-label>
          <ion-input type="file" (change)="onFileSelected($event, 'certificate')" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Upload Pharmacy Proof of Address:</ion-label>
          <ion-input type="file" (change)="onFileSelected($event, 'proofOfAddress')" required></ion-input>
        </ion-item>

    <ion-item>
      <ion-label>Street Address</ion-label>
      <ion-input [(ngModel)]="streetAddress" name="streetAddress" required></ion-input>
    </ion-item>
        
        <ion-item>
          <ion-label>Province:</ion-label>
          <ion-select [(ngModel)]="selectedProvince" name="selectedProvince" required> 
            <ion-select-option *ngFor="let province of provinces" [value]="province.value" >{{ province.value  }}</ion-select-option>
          </ion-select>
        </ion-item>
        
        <!-- Region Selection -->
        <ion-item>
          <ion-label>Region:</ion-label>
          <ion-select [(ngModel)]="selectedRegion" name="selectedRegion" [disabled]="!selectedProvince" required>
            <ion-select-option *ngFor="let region of regions" [value]="region.value">{{ region.value  }}</ion-select-option>
          </ion-select>
        </ion-item>

        
          <ion-item>
            <ion-label>Pharmacy Brand:</ion-label>
            <ion-select [(ngModel)]="pharmacyBrandType" name="pharmacyBrandType" required>
              <ion-select-option *ngFor="let brand of pharmacyBrandTypes" [value]="brand.value">{{ brand.value }}</ion-select-option>
            </ion-select>
          </ion-item>

         <!-- Pharmacy Working Hours (Monday to Friday) -->
  <ion-item>
    <ion-label>Opening Hours (Mon-Fri):</ion-label>
    <ion-select [(ngModel)]="openingHoursMonFri" name="openingHoursMonFriequired">
      <ion-select-option *ngFor="let time of times" [value]="time.value">{{ time.value  }}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Closing Hours (Mon-Fri):</ion-label>
    <ion-select [(ngModel)]="closingHoursMonFri" name="closingHoursMonFri" required>
      <ion-select-option *ngFor="let time of times" [value]="time.value">{{ time.value }}</ion-select-option>
    </ion-select>
  </ion-item>

  <!-- Pharmacy Working Hours (Saturday) -->
  <ion-item>
    <ion-label>Opening Hours (Sat):</ion-label>
    <ion-select [(ngModel)]="openingHoursSat" name="openingHoursSat" required>
      <ion-select-option *ngFor="let time of times" [value]="time.value">{{ time.value }}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Closing Hours (Sat):</ion-label>
    <ion-select [(ngModel)]="closingHoursSat" name="closingHoursSat" required>
      <ion-select-option *ngFor="let time of times" [value]="time.value">{{ time.value  }}</ion-select-option>
    </ion-select>
  </ion-item>

  <!-- Pharmacy Working Hours (Holidays) -->
  <ion-item>
    <ion-label>Opening Hours (Holidays):</ion-label>
    <ion-select [(ngModel)]="openingHoursHolidays" name="openingHoursHolidays" required>
      <ion-select-option *ngFor="let time of times" [value]="time.value">{{ time.value  }}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Closing Hours (Holidays):</ion-label>
    <ion-select [(ngModel)]="closingHoursHolidays" name="closingHoursHolidays" required>
      <ion-select-option *ngFor="let time of times" [value]="time.value">{{ time.value }}</ion-select-option>
    </ion-select>
  </ion-item>
      </ng-container>

      <!-- Dispatcher specific fields -->
      <ng-container *ngIf="selectedRole === 'Dispatcher'">
        <ion-item>
          <ion-label position="floating">First Name:</ion-label>
          <ion-input type="text" [(ngModel)]="firstname" name="Firstname" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Last Name:</ion-label>
          <ion-input type="text" [(ngModel)]="lastname" name="Lastname" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">ID Number:</ion-label>
          <ion-input type="text" [(ngModel)]="idnumber" name="idnumber" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Email Address:</ion-label>
          <ion-input type="email" [(ngModel)]="email" name="email" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Phone Number:</ion-label>
          <ion-input type="text" [(ngModel)]="phone" name="phone" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Password:</ion-label>
          <ion-input type="password" [(ngModel)]="password" name="password" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Confirm Password:</ion-label>
          <ion-input type="password" [(ngModel)]="confirm_password" name="confirm_password" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Upload Resume:</ion-label>
          <ion-input type="file" (change)="onFileSelected($event, 'resume')" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Upload ID  Document:</ion-label>
          <ion-input type="file" (change)="onFileSelected($event, 'iddocument')" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Upload SAPS Background Check Document:</ion-label>
          <ion-input type="file" (change)="onFileSelected($event, 'sapsdocument')" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Upload Vehicle Insurance Document:</ion-label>
          <ion-input type="file" (change)="onFileSelected($event, 'dispactherinsurance')" required></ion-input>
        </ion-item>
      </ng-container>

    </ion-list>

    <div class="ion-padding">
      <ion-button expand="block" type="submit">Sign Up</ion-button>
    </div>

  </form>
</ion-content>
